/* regole reset */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(158, 151, 151);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

[class*="col"] {
  padding: -0.5rem;
}

col {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* / reset */

/* lavorazione header */

header {
  background-color: ;
}

h1 {
  font-size: large;
  font-weight: 900;
  text-align: center;
}

main {
  background-color: ;
}

footer {
  background-color: ;
}

/* Sezione  MEDIA QUERE */

/* sezione medium / tablet sopra i 768 px */

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}

/* / sezione medium / tablet sopra i 768 px */

/* sezione large / desktop sopra i 992 px */

@media screen and (min-width: 992px) {
}

/* sezione large / desktop sopra i 992 px */
