/* regole reset */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 245, 243, 1);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

[class*="col"] {
  padding: -0.5rem;
}

col {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* / reset */

/* lavorazione header */

header {
  background-color: white;
}

h1 {
  color: rgba(255, 150, 28, 1);
  text-align: center;
  margin: 0px auto;
  padding: 32px;
}

/* lavorazione main */

main {
  background-color: ;
}

/* sezione video */

h4 {
  margin-left: 40px;
  font-size: larger;
  font-weight: 900;
}

.card-content {
  background-color: white;
  padding: 2rem 0;
}

.card-content ul li {
  font-size: larger;
  padding: 0.5rem 0;
}

.card-content ul .text-strong {
  font-weight: 900;
  font-size: larger;
}

/*/ section video */

/* section icone social */

#social .container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social .container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.simbol-social {
  color: blue;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  font-size: larger;
}

.name-social {
  display: none;
}

footer {
  background-color: ;
}

/* Sezione  MEDIA QUERE */

/* sezione medium / tablet sopra i 768 px */

/* sezione header */

@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }

  /* sezione video */
  .card-content ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

.card-content ul li {
  font-size: larger;
  padding: 0.5rem 0;
  padding-right: 2rem;
}

/* sezione icone */

#social li {
  width: 200px;
  height: 50px;
  border-radius: 25%;
  background-color: white;
}

.simbol-social {
  color: blue;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  font-size: larger;
}

/* / sezione medium / tablet sopra i 768 px */

/* sezione large / desktop sopra i 992 px */

@media screen and (min-width: 992px) {
  .container {
    display: flex;
  }
  .card-content ul {
    display: inline-block;
  }
  .card-content {
    margin-top: 80px;
  }
}

/* sezione icone */

#social li {
  width: 200px;
  height: 50px;
  border-radius: 25%;
  background-color: white;
}

.name-social {
  display: block;
}

/* sezione large / desktop sopra i 992 px */
